<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs',{ pageName : "Login" }) %>

    <body>

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <div><img
                        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.Z5y5YoDLQk7a6BhgcMdKHAHaJN%26pid%3DApi&f=1"
                        class="navLogo"></div>
                <a class="navbar-brand" href="/">Book Diary</a>
        
            </div>
        </nav>

        <main>


            <h1>Book Diary</h1>

            <div class="mb-5">
                <h4 style="text-align:center">A diary for tracking books you've read.</h4>
            </div>

            <section class="mb-5">
            <h3>Register for an account</h3>
            <form class="mt-4" method="GET" action="account/register">
                <button type="submit" class="btn-show mt4">Register</button>
            </form>

            </section>

            <section class="mb-3">
            <h3>Login</h3>
            <form method="POST" action="account/login">
                <div class="mb-2">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" name="username" id="username">
                </div>
                <div class="mb-2">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" id="password">
                </div>
                <button class="btn-show mt-4" type="submit">Submit</button>
            </form>
            </section>
            

        </main>

        <%- include('../partials/footer.ejs') %>

    </body>

</html>