<!DOCTYPE html>
<html lang="en">
       
  <%- include('../partials/head.ejs',{ pageName : "Register" }) %>

<body class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand"
        style="color:#FEFAE0; font-family: 'Courgette', cursive; font-size: 25px; font-weight: bolder;" href="/">Book Diary</a>

    </div>
</nav>

<main>
<h1>Book Diary Registration</h1>

    <form method="POST" action="/account/register">
      <div>

        <div class="mb-2">
        <label for="name">Name<span style="color:red">*</span>:</label>
        <input class="form-control" type="text" name="name" id="name" required>
      </div>

      <div class="mb-2">
        <label for="username">Username<span style="color:red">*</span>:</label>
        <input class="form-control" type="text" name="username" id="username" required>
      </div>

        <div class="mb-2">
        <label for="email">Email<span style="color:red">*</span>:</label>
        <input class="form-control" type="email" name="email" id="email" required>
      </div>

        <div class="mb-2">
        <label for="password">Password<span style="color:red">*</span>:</label>
        <input class="form-control" type="password" name="password" id="password" required>
      </div>

        <div class="mb-2">
        <label for="avatar">Avatar (url):</label>
        <input class="form-control" type="text" name="avatar" id="avatar" placeholder="Image optional">
      </div>

      </div>
      <p style="color:red">* Required</p>
      <div>
        <button type="submit" class="btn-show mt-2">Submit</button>
      </div>

      
    </form>

  </main>
  <%- include('../partials/footer.ejs') %>

</body>

</html>