<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid ">
        <div><img
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.Z5y5YoDLQk7a6BhgcMdKHAHaJN%26pid%3DApi&f=1"
                class="navLogo"></div>
        <a class="navbar-brand" href="/home"> Book Diary</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 navclass">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href='/home'> HOME</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href='/currentlyreading'>Books I'm
                        reading</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href='/wanttoread'>Books I want to
                        read</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href='/finishedreading'>Books I've
                        read</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href='/new'>Add New Book</a>
                </li>

            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href='/account/settings'>
                        <%=username%> logged in
                    </a>
                </li>
            </ul>

        </div>

    </div>
</nav>