<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand"
            style="color:#FEFAE0; font-family: 'Courgette', cursive; font-size: 25px; font-weight: bolder;"
            href="/home">Book Diary</a>

        <button class="navbar-toggler navbar-toggle collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 navclass">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href='/home'> Home</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href='/currentlyreading'>Books I'm
                        Reading</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href='/wanttoread'>Books I Want to
                        Read</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href='/finishedreading'>Books I've
                        Read</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href='/new'>Add New Book</a>
                </li>

            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href='/account/settings'>
                        <%=username%> Logged In
                    </a>
                </li>
            </ul>

        </div>

    </div>
</nav>