<!DOCTYPE html>
<html lang="en">
        <%- include('partials/head.ejs',{ pageName : "Enter" }) %>
    <body>

        <div class="landHeader">
            <h1 class="landTitle">Book Diary</h1>
            <img src="" placeholder="Book Diary logo" />
        </div>

        <!--Summary-->
        <div class="landSummary">
            <h3>A diary for tracking books you've read.</h3>
        </div>

        <!--Log In Options-->
        <div class="loginOptions">  
<<<<<<< HEAD
            <a href="/auth/register">
                <button type="button">Sign Up</button>
            </a>
            <a href="/auth/login">
=======
            <a href="/register">
                <button type="button">Sign Up</button>
            </a>
            <a href="/login">
>>>>>>> e4122b1b4a9d6b425cec3e26c973331048b1d706
                <button type="button">Log In</button>
            </a> 
        </div>        
    </body>
</html>