<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs',{ pageName : "New Book" }) %>


    <body>
        <%- include('partials/nav.ejs') %>
            <main>
                <h1 class="new-book">New Book</h1>

                <form class="edit-new-page" method="POST" action="/new">
                    <table class="d-flex justify-content-center">
                        <tr>
                            <th>
                                <input class="input-info" name="username" type="hidden" value="<%=username%>">
                            </th>
                            <th style="width:70%">

                            </th>
                        </tr>
                        <tr>
                            <td>
                                <label for="title"> Book Title: </label>
                            </td>
                            <td>
                                <input class="input-info" id="title" name="title" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="author"> Author Name: </label>
                            </td>
                            <td>
                                <input class="input-info" id="author" name="author" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="year"> Year Published: </label>
                            </td>
                            <td>
                                <input class="input-info" id="year" name="year" type="number">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="genre"> Book Genre: </label>
                            </td>
                            <td>
                                <input class="input-info" id="genre" name="genre" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="cover"> Book Cover Image: </label>
                            </td>
                            <td>
                                <input class="input-info" id="cover" name="cover" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="pages"> Pages #: </label>
                            </td>
                            <td>
                                <input class="input-info" id="pages" name="pages" type="number">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="audioBook"> AudioBook Hours: </label>
                            </td>
                            <td>
                                <input class="input-info" id="audioBook" name="audioBook" type="number">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label style="width: 250px" for="readingStatus"> Book Reading Status: </label>
                            </td>
                            <td>
                                <select style="width: 250px" name="readingStatus" id="readingStatus">
                                    <option value="read">I've read this book</option>
                                    <option value="reading">I'm reading this book</option>
                                    <option value="wanttoread">I want to read this book</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="notes"> Notes: </label>
                            </td>
                            <td>
                                <textarea rows="4" style="height: 70px; width: 250px" id="notes" name="notes"
                                    type="text">
                                </textarea>

                            </td>
                        </tr>
                    </table>
                    <input class="btn-show mt-4 mb-5 px-2" class="btn-show" type="submit"
                        value="Add a New Book to your Library">
                </form>
            </main>
            <%- include('partials/footer.ejs') %>
    </body>

</html>