<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs',{ pageName : "New Book" }) %>


    <body class="d-flex flex-column min-vh-100">
        <%- include('partials/nav.ejs') %>

            <main>
                <h1 class="new-book">New Book</h1>

                <form class="edit-new-page" method="POST" action="/new">

                    <input class="form-control" name="username" type="hidden" value="<%=username%>">

                    <div class="mb-2">
                        <label for="title"> Book Title<span style="color:red">*</span> </label>
                        <input class="form-control" id="title" name="title" type="text" required>
                    </div>

                    <div class="mb-2">
                        <label for="author"> Author Name<span style="color:red">*</span> </label>
                        <input class="form-control" id="author" name="author" type="text" required>
                    </div>

                    <div class="mb-2">
                        <label for="year"> Year Published </label>
                        <input class="form-control" id="year" name="year" type="number">
                    </div>

                    <div class="mb-2">
                        <label for="genre"> Book Genre </label>
                        <input class="form-control" id="genre" name="genre" type="text">
                    </div>

                    <div class="mb-2">
                        <label for="cover"> Book Cover Image </label>
                        <input class="form-control" id="cover" name="cover" type="text">
                    </div>

                    <div class="mb-2">
                        <label for="pages"> Pages # </label>
                        <input class="form-control" id="pages" name="pages" type="number">
                    </div>

                    <div class="mb-2">
                        <label for="audioBook"> AudioBook Hours </label>
                        <input class="form-control" id="audioBook" name="audioBook" type="number">
                    </div>

                    <div class="mb-2">
                        <label for="readingStatus"> Book Reading Status </label>
                        <select class="form-select" name="readingStatus" id="readingStatus">
                            <option value="read">I've read this book</option>
                            <option value="reading">I'm reading this book</option>
                            <option value="wanttoread">I want to read this book</option>
                        </select>
                    </div>

                    <div class="mb-2">
                        <label for="notes"> Notes </label>
                        <textarea class="form-control" rows="4" id="notes" name="notes" type="text">
        </textarea>
                    </div>

                    <input class="btn-show mt-4 mb-5 px-2" class="btn-show" type="submit"
                        value="Add a New Book to My Library">

                </form>

            </main>
            <%- include('partials/footer.ejs') %>
    </body>

</html>