/* book tiitle */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Tapestry&display=swap');

/* edit/new page*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* edit/new page heading */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* h for books list , h2*/
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

header {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
}

body {
    background-color: #fefae0;
    width: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 15px 0 30px;
}

h2 {
    font-family: 'Archivo', sans-serif;

}

table,
form {
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

/* label {
    display: block;
}

section {
    margin: 0 0 40px 0;
} */

main {
    /* text-align: center; */
    max-width: 75vw;
    margin: 40px auto;
    min-height: 70vh;


}

/* form {
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
}

input {
    width: 100%;

} */

.book-title,
.login-title {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Tapestry', cursive;
}

.new-book,
.edit-title,
.login-summary {
    font-family: 'Abril Fatface', cursive;
}

.books-list-h {
    font-size: 35px;
    font-family: 'Archivo', sans-serif;
}

.submit-Btn {
    text-align: center;
    margin: 150px;
}

/* table {
    text-align: center;
} */

a:link {
    text-decoration: none;
}

.navbar {
    background: rgb(96, 108, 56, );
    background: linear-gradient(90deg, rgba(96, 108, 56, 0.8) 52%, rgba(221, 161, 94, 1) 100%);

}

li a .nav-item {
    color: white;
}

.navLogo {
    width: 20px;
}

/* .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
} */

.cover-container {
    margin: 20px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-container-home {
    margin: 0;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-grid {
    width: 150px;
    border: 1px solid black;
}

.cover-grid-home {
    width: 80px;
    border: 1px solid black;
}

.reading-status {
    /* border: 2px solid #606C38; */
    display: inline-block;
    padding: 5px;
    /* border-radius: 5px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.book-info {
    display: inline-block;
    max-width: 500px;
    margin: 0px 0 25px 20px;
    /* border: 2px solid #606C38; */
}


.book-display {
    display: inline-block;
    width: 20vw;
}

.book-notes {
    margin-top: 50px;
}

.show-page-buttons {
    display: flex;
    justify-content: center;
    /* width: 80% */
}

.edit-button,
.remove-button {
    margin: 10px;
}

.edit {
    padding: 2px 20px;
}

.edit-title {
    margin-top: 15px;
    text-align: center;
}



.home-library {
    color: #283618
}

.home-library:hover {
    color: #606C38
}

.btn-more {
    background-color: #606C38;
    color: #FEFAE0;
    margin-top: 10px;
}

.btn-more:hover {
    color: rgba(221, 161, 94, 1);
}

.new-btn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.btn-show {
    box-shadow: inset 0px 1px 0px 0px #f9eca0;
    background: linear-gradient(to bottom, #DDA15E 5%, #FEFAE0 100%);
    background-color: #DDA15E;
    border-radius: 6px;
    border: 1px solid #606C38;
    display: inline-block;
    cursor: pointer;
    color: #BC6C25;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ded17c;

}

.btn-show:hover {
    background: linear-gradient(to bottom, #FEFAE0 5%, #DDA15E 85%);
    background-color: #DDA15E;
}

.btn-show:active {
    position: relative;
    top: 1px;
}

.btn-primary {
    height: 30px;
    width: 30px;
    border-radius: 100%;

}

td {
    width: 250px;
}

input {
    width: 250px;
}

.list-link {
    color: #283618
}

.list-link:hover {
    color: #283618;
    background: rgb(96, 108, 56);
    background: linear-gradient(90deg, rgba(96, 108, 56, 0.5) 20%, rgba(221, 161, 94, 1) 100%);
    border-radius: 5px;
}

.cover-view {
    transition: transform .2s;
}

.cover-view:hover {
    background: rgb(96, 108, 56);
    background: linear-gradient(90deg, rgba(96, 108, 56, 0.5) 20%, rgba(221, 161, 94, 1) 100%);
    border-radius: 5px;
    padding: 2px;
    transform: scale(1.2)
}

.cover-view-home {
    transition: transform .2s;
}

/* paddings need to be fixed */

.cover-view-home:hover {
    /* background: linear-gradient(70deg, rgba(96, 108, 56, 0.5) 20%, rgba(221, 161, 94, 1) 100%); */
    border-radius: 5px;
    transform: scale(1.2)
}



li>a:hover {
    color: #283618;
    background: linear-gradient(to bottom, #faedcd 20%, #DDA15E 60%);
    border-radius: 5px;
}


textarea {
    resize: none;
}

footer {
    background: rgb(96, 108, 56, );
    background: linear-gradient(90deg, rgba(96, 108, 56, 0.8) 52%, rgba(221, 161, 94, 1) 100%);
    height: 500px;
}

@media screen and (max-width:535px) {}