.username {
    float: right;
    margin-left: auto;
}

.home {
    float: right;
    margin-right: auto;
}

.navbar {
    background-color: #84a59d;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

button {
    box-shadow: 3px 4px 0px 0px #899599;
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    border-radius: 15px;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: #3a8a9e;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
}

button:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: #bab1ba;
}

button:active {
    position: relative;
    top: 1px;
}

a:link {
    text-decoration: none;
}